{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #c0c0c0;
  color: black;
  text-align: center;
}

table{
    background-color:darkgrey;
    border-radius: 15px;
}

footer {
  background-color: darkgrey;
  padding: 20px;
  font-size: 1em;
  margin-top: 20px;
  color: black;
   width: 96%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 20px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}